.env
.env.*
.DS_Store
__pycache__
.idea
KMS
.venv
.vscode
*.egg-info
.pytest_cache
.ruff_cache

# Google Cloud credentials
*.json
!package.json
!package-lock.json
!tsconfig.json
!pyproject.toml
!uv.lock